<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../../assets/src/css/modalDepositar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <article id="mensagensInformativas"></article>
    <section id="main-modal-deposito">

            <div class="container-de-dados">

                <img class="img-servicos" src="../../../assets/src/img/icones-menu/depositar.png" alt="">

                <h2 class="config-text-destaque">Qual valor deseja depositar?</h2>

                <form>
                    <input id="valor-a-enviar" data-modal-deposito="valor-a-enviar" placeholder="P. ex. 20,00">
                </form>

                <button id="btn-de-confirmar" data-modal-deposito="btn-de-confirmar">Realizar depósito
                </button>

            </div>



   
    </section>
</body>

</html>