@import url(./configModalSaque.css);
@import url(./configDeEstilosCriaConta.css);
@import url(./configDeEstilosPaginaInicialPerfil.css);



:root{
--clr-itp-primary: #78adba;
--clr-itp-1: #82b3bf; 
--clr-itp-2: #dde2e2; 
--clr-itp-3: #247698; 
--clr-itp-4: #1b4367; 
--clr-itp-5: #4995ad; 
--clr-itp-6: #49758c; 
--clr-itp-7: #919479; 
--clr-itp-8: #897c52; 
--clr-itp-9: #b4dce0; 
--clr-itp-10: #dc7c7c; 
}