*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1s;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body{
    width: 100vw;
}


p, h1, h2, h3, span, li{
    display: block;
    text-align: left;
    color: azure;
    font-weight: 300;
}

i{
    font-size: 1rem;
    vertical-align: middle;
}


 #main-modal{
    font-family: "Open Sans", serif;
     width: 60%;
     min-width: 450px;
     min-height: 100vh;
     margin: 0 auto;
     overflow: hidden;
     transition: 1s;
     background: rgb(27,67,103);
     background: linear-gradient(139deg, rgb(76, 133, 184) 0%, rgb(50, 162, 211) 34%, rgba(67,117,142,1) 69%, rgba(137,124,82,1) 100%);
     border-radius: 15px;
}

.display-flex-modal h2{
    color: azure;
    width: 80%;
    margin: 25px 0px;
}
 

.img-servicos{
    padding: 25px;
    width: 40%;
}


.display-flex-modal{
    box-sizing: border-box;
    padding: 25px;
}

.display-flex-modal div{
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
}



.btn-de-confirmar{
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 50px;
    border-radius: 3px;
    font-size: 1.5rem;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    background-color: #d6ffd6;
    border-radius: 15px;
    color: #81a9ac;
}

.btn-de-confirmar:hover{
    background-color: #d0d3b9;
}


.img-barra{
    margin-top: -10px;
}



.display-flex-modal h2{
    font-size: 1.8rem !important;
    margin-bottom: 25px;
}


#menu-filtro-extrato{
    width: 100%;
    display: flex;
}

select{
    width: 60%;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #81a9ac;
}

option{
    color: #81a9ac;
}


.container-table td{
    margin-top: 25px;
    font-size: .8rem;
    background-color: transparent;
}

.container-table th{
    margin-top: 25px;
    font-size: .8rem;
    font-weight: normal;
}