/*  CONFIG DA TELA DE LOADING */
#pre-load{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;
}

#pre-load p {
    position: absolute;
}

#pre-load img{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 25%;
}

#text{
    font-size: 5rem;
}

.clicle{
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    border: 6px solid #1b4367;
    border-top: transparent;
    animation: spin1 1s infinite linear;

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes spin1 {
    0%{
        transform: rotate(0deg);
        width: 10px;
        height: 10px;
    }
    100%{
        transform: rotate(360deg);
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: "Open Sans", serif;
    
}

body{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #c8ffe6 100%);
}

:root{
    --clr-itp-primary: #78adba;
    --clr-itp-1: #82b3bf; 
    --clr-itp-2: #dde2e2; 
    --clr-itp-3: #247698; 
    --clr-itp-4: #1b4367; 
    --clr-itp-5: #4995ad; 
    --clr-itp-6: #49758c; 
    --clr-itp-7: #919479; 
    --clr-itp-8: #897c52; 
    --clr-itp-9: #b4dce0; 
    --clr-itp-10: #dc7c7c; 
}

.Set_mensagens_informativas{
    display: block;
    transition: .2s;
    width: 80%;
    max-width: 500px;
    min-height: 40px;
    background-color: #5778ff;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4.5px rgba(0, 0, 0, 0.164));
    
    position: absolute;
    z-index:100;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    margin-top: -100vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.Set_msg_sucesso{
    display: block;
    transition: .5s;
    width: 80%;
    max-width: 500px;
    min-height: 40px;
    background-color: #3cff00;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4.5px rgba(0, 0, 0, 0.164));
    
    position: absolute;
    z-index:100;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.Set_msg_error {
    display: block;
    transition: .5s;
    width: 80%;
    max-width: 500px;
    min-height: 40px;
    background-color: #ff0077;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4.5px rgba(0, 0, 0, 0.164));
    
    position: absolute;
    z-index:100;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#main-pagina-inicial{
    box-sizing: border-box;
    width: 100vw;
    height: 1000px;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

img{
    padding: 0;
    display: inline;
    min-width: 5%;
}

#bg-container-top-informes{
    display: inline;
    position: absolute;
    top: 0;
    margin-top: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%) scale(1.5);
    background: rgb(85,99,204);
    background: linear-gradient(139deg, rgb(29, 50, 206) 0%, #00CCFF 110%);
}

.tag-45875df58745{
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    text-align: right;
    color: aliceblue;
    font-size: 0.8rem;
}

.box-perfil-logo img{
    position: absolute;
    width: 130px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.box-saldo{
    position: absolute;
    color: aliceblue;
    top: 0;
    margin-top: 250px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);    
}

[data-perfil="saldo-user"]{
    display: inline;
    background-color: #003bbb;
    border-radius: 10px;
    margin-top: 5px;
    padding: 0px 15px;
}

[data-perfil="logo"]{
    display: inline;
    box-sizing: border-box;
    position: absolute;
    margin: 25px;
    width: 100PX;
    
}


/* CONFIGURAÇÕES DO MENU ICONES CENTRO DA PAGINA */

#menu-principal-pagina-inicial{
    box-sizing: border-box;
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    position: absolute;
    margin-top: 350px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-left: 50%;
    transform: translateX(-50%);
}

#menu-principal-pagina-inicial div{
    width: 150px;
    height: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    margin-bottom: 15px;
    border-radius: 10px;

    background: rgb(85,99,204);
    background: linear-gradient(139deg, rgb(77, 93, 216) 0%, #00CCFF 100%);

    -webkit-box-shadow: inset 10px 10px 9px -11px rgba(0, 0, 0, 0.274);
    -moz-box-shadow: inset 10px 10px 9px -11px rgba(0, 0, 0, 0.274);
    box-shadow: inset 10px 10px 9px -11px rgba(0, 0, 0, 0.274);
    cursor: pointer;

}

#menu-principal-pagina-inicial div img{
    width: 25%;
    margin-bottom: 5px;
    pointer-events: none;
}

#menu-principal-pagina-inicial div p{
    pointer-events: none;
}

#quemSouEu{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    z-index: 5;
    text-align: center;
    color: aliceblue;
    font-size: .8rem;
    padding: 15px;
    width: 100%;
}

#quemSouEu .link{
    width: 20px;
    padding: 2px;
    margin-top: 10px;
}

#btn-voltar{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #ff236d;
    display: inline;
    padding: 5px 15px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer; 
    transition: .5s;
    border: none;
    margin: 15px;
}

#btn-voltar:hover{
    background-color: #ff6196;
    transition: .5s;
}

#btn-voltar span {
    pointer-events: none;
}

.config-modal-comprovante{
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: aliceblue
}


#css_config_comprovante{
    position: absolute;
    top: 0;
    z-index: 200;
    width: 90%;
    height: 300px;
    background-color: #003bbb;
    margin: 50% 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    display: flex;

    align-items: center;
    flex-direction: column;

    margin-top: -50vh;
}

#cicle-png{
    width: 100px;
    height: 100px;
    background-color: #00CCFF;
    border-radius: 50%;
    background-image: url('../../../assets/src/img/17702135.gif');
    background-position: center;
    background-size: 145%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

#css_config_comprovante button{
    position: absolute;
    width: 90%;
    height: 35px;
    border: none;
    bottom: 0;
    margin-bottom: 25px;
    font-weight: 600;
    cursor: pointer;

    background-color: var(--clr-itp-primary);
    color: aliceblue;
}

.config-text-principal{
    color: aliceblue;
    text-transform: uppercase;
    margin: 0 auto;
}

.span_cancelar{
    position: absolute;
    padding: 5px;
    left: 0;
    margin: 15px;
    color: aliceblue;
    font-size: .8rem;
    cursor: pointer;
}

.blur{
    filter: blur(3px);
}
