*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: "Open Sans", serif;

}

:root{
    --clr-itp-primary: #78adba;
    --clr-itp-1: #82b3bf; 
    --clr-itp-2: #dde2e2; 
    --clr-itp-3: #247698; 
    --clr-itp-4: #1b4367; 
    --clr-itp-5: #4995ad; 
    --clr-itp-6: #49758c; 
    --clr-itp-7: #919479; 
    --clr-itp-8: #897c52; 
    --clr-itp-9: #b4dce0; 
    --clr-itp-10: #dc7c7c; 
}

#container-para-mostrar-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: 90vh;
    top: 0;
    margin-left: -25px;
    margin-top: -100vh;
}

#container-principal-funcoes-iniciais{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 550px;
    overflow: hidden;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding: 25px;
    min-height: 100vh;
    position: relative;
}

.box-saudacao p{
    padding-left: 19px;
    font-size: 1.3rem;
    color: #f0feff;
}

.box-perfil-logo{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.box-perfil-logo img{
    width: 30%;
    object-fit: contain;
}

.box-perfil-logo img:nth-child(1){
    width: 40%;
}

.box-saldo{
    box-sizing: border-box;
    height: 190px;
    margin-top: 25px;
    color: #f0feff;
}

.box-saldo div{
    box-sizing: border-box;
    width: 60%;
    height: 150px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

[data-perfil="saldo-user"]{
    font-weight: 700;
    font-size: 2rem;
}

.box-saldo div:nth-child(1){
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.box-saldo div:nth-child(2){
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-sizing: border-box;
    padding: 25px;
    background: linear-gradient(304deg, rgb(103, 255, 166) 0%, rgb(89, 168, 247) 49%, rgb(44, 233, 247) 100%);

    width: 300px;
    top: 300px;
    right: 0;
   
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.432));
    cursor: pointer;

    margin-right: -250px;
}

.show{
    margin-right: 15px !important;
}

/* .hiden{
    margin-right: -250px;
} */


.numbr-card-person{
    box-sizing: border-box;
    position: absolute;
    color: aliceblue;
    bottom: 0;
    margin-bottom: 25px;
}   

#menu-principal-pagina-inicial {
    box-sizing: border-box;
}

#menu-principal-pagina-inicial img{
    display: block;
    width: 10%;
    margin-right: 25px;
}

#menu-principal-pagina-inicial div{
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px;
    height: 65px;
    background-color: #00d2ff;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#menu-principal-pagina-inicial div:hover{
    background: #b5f5f4;
    transition: .2s;
    color: black;
}

#menu-principal-pagina-inicial div p{
    text-transform: uppercase;
    pointer-events: none;
    font-size: 1.2rem;
}

#atendimento{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    line-height: 250%;
}

#atendimento h5, i{ 
    color: azure;
}

#container-modal-menu{
    position: absolute;
    top: -100vh;
    z-index: 100;
}

/* =================================================== */

