:root{
    --clr-itp-primary: #78adba;
    --clr-itp-1: #82b3bf; 
    --clr-itp-2: #dde2e2; 
    --clr-itp-3: #247698; 
    --clr-itp-4: #1b4367; 
    --clr-itp-5: #4995ad; 
    --clr-itp-6: #49758c; 
    --clr-itp-7: #919479; 
    --clr-itp-8: #897c52; 
    --clr-itp-9: #b4dce0; 
    --clr-itp-10: #dc7c7c; 
}



body {
    min-height: 100vh;
}



#main-modal-pix{
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    padding: 25px;
    background: rgb(70,154,238);
    background: linear-gradient(139deg, rgba(70,154,238,1) 0%, rgba(172,227,255,1) 69%, rgba(82,99,137,1) 100%);
    text-align: center;
    background-size: 150%;
    min-height: 100vh;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    /* margin-left: 25px; */
}


#btn-de-confirmar{
    box-sizing: border-box;
    width: 95%;
    bottom: 0;
    left: 0;

    height: 45px;
    border: none;
    background-color: var(--clr-itp-4);
    color: aliceblue;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 25px;
}

#btn-de-confirmar:hover{
    background-color: #897c52;
}


.config-text-destaque{
    font-size: 2.5rem;
    text-align: left;
    font-weight: 200;
    margin-top: 50px;
}



#destinatario-pix, #input-valor-a-enviar{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(44, 44, 49);
    margin-top: 20px;
    font-size: 1.2rem;
    color: #247698;
    font-weight: 300;
    padding: 15px;
}

#menu-area-pix{
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    
}

#menu-area-pix li{
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    margin-right: 15px;
    padding: 6px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

@media ( max-width: 320px ) {
    
    .container-de-dados{
        min-height: 100vh;
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        font-size: 1.2rem !important;
    }

    .config-text-destaque{
        width: 70%;
        margin-left: 20px;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    #btn-de-confirmar{
        display: block;
        width: 50%;
        margin: 0 auto;
        font-size: 1rem !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .img-servicos {
        width: 100px;
        margin-top: 20px;
    }

    #destinatario-pix, #input-valor-a-enviar{
        width: 70%;
    }

    #input-valor-a-enviar{
        margin-bottom: 25px;
    }
}